<!-- src/main/resources/templates/error.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <th:block th:replace="~{fragments/bootstrap_ref :: bootstrap_css_js}"/>
</head>
<body>
    <div th:replace="~{fragments/navigation :: navigation}"></div>
    <h1 th:text="${message}">Default Message</h1>
    <p>Username: <span th:text="${username}">Default User</span></p>
</body>
</html>