<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Organizations</title>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments/bootstrap_ref :: bootstrap_css_js}" />
    <th:block th:replace="~{fragments/vuejs_ref :: vue_axios_js}" />
    <th:block th:replace="~{fragments/jquery_ref :: jquery_js}" />
    <th:block th:replace="~{fragments/bootstrap_treeview_ref :: treeview_js_css}" />
</head>

<body>
  <div th:replace="~{fragments/navigation :: navigation}"></div>
  <div id="app" class="container-fluid">
    <div class="row">
        <!-- Left: Organization Tree -->
        <div class="col-md-3">
            <h5 class="mt-3">Organization Tree</h5>
            <div id="organizationTree" class="mt-3"></div>
        </div>

        <!-- Right: Organization Details -->
        <div class="col-md-9">
            <h5 class="mt-3">Organization Details</h5>
            <div v-if="selectedOrg" class="card mt-3">
                <div class="card-body">
                    <p><strong>Name:</strong> {{ selectedOrg.name }}</p>
                    <p><strong>Address:</strong> {{ selectedOrg.address }}</p>
                    <p><strong>Description:</strong> {{ selectedOrg.description }}</p>
                </div>
            </div>
            <div v-else class="alert alert-info mt-3">
                Select an organization from the tree to view details.
            </div>
        </div>
    </div>
</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                organizations: [],
                selectedOrg: null
            };
        },
        mounted() {
            this.loadOrganizationTree();
        },
        methods: {
            loadOrganizationTree() {
                axios.get('/api/organizations/loadTree')
                    .then(response => {
                        // Initialize the tree view with the received data
                        this.organizations = this.buildTree(response.data);

                        $('#organizationTree').treeview({
                            color: "#428bca",
                            levels: 99,
                            expandIcon: 'bi bi-chevron-right',
                            collapseIcon: 'bi bi-chevron-down',
                            nodeIcon: 'bi bi-bookmark',
                            data: this.organizations, // tree data
                            onNodeSelected: (event, node) => {
                                this.selectedOrg = node;
                            }
                        });
                    })
                    .catch(error => {
                        console.error("There was an error loading the organization tree:", error);
                    });
            },
            buildTree(data) {
                // Recursively build tree data structure
                return data.map(org => {
                    return {
                        text: org.name,
                        name: org.name,
                        address: org.address,
                        description: org.description,
                        nodes: org.children ? this.buildTree(org.children) : []
                    };
                });
            }
        }
    });

    app.mount('#app');
</script>
</body>
</html>